/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-nov-2017, 14.02.20
    Author     : Davide Uni
*/

body{
    background-image: url('https://www.mantovasitiweb.it/images/slider2.jpg');
}

body.container{
    background-image: url('https://www.mantovasitiweb.it/images/slider2.jpg');
}

body.container-fluid{
    background-image: url('https://www.mantovasitiweb.it/images/slider2.jpg');
}

#bg-primary{
    background-color: #bfbfbf;
    margin-right: 5%;
    margin-left: 5%;
    
}

.img_rotonda{
   -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border-radius: 250px;
    
}

.contenitore_inserzione{
    background-color: #bfbfbf;
  
    height: 90%
}

#sfondo_verde{
    background-color: green;
    margin: 5%;
    align-content: center;
    
}

.testo{
    padding: 1%
}

.footer_margin{
    margin-top: 10px;
  background-position: bottom;
}

.background-full-site{
min-height: 800px;
 height: 100%;
 min-width: 80%
     

}

.background-full-site_articolo{
min-height: 800px;
 height: 100%;
 min-width: 90%
     
     

}



body{
    height: 100%;
}

#inline{
    display:inline;
}

.inline{

    display:inline;

}
.font_sito_bottoni{
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.font_sito_scritte{
    color: white;
    font-family: 'Roboto Slab', serif;
}

.font_sito_scritte_nere{
    color: black;
    font-family: 'Roboto Slab', serif;
}

@media(min-width: 1920px){
.cartellone{
    width:400px;
}
}

@media(max-width: 1920px){
.cartellone{
    width:400px;
}
}

@media(max-width: 1500px){
.cartellone{
    width:150px;
}
}


@media(max-width: 480px){
.cartellone{
    width:100px;
}
}

@media(min-width: 480px){
.cartellone_2{
    width:150px;
}
} 

.margine_articoli{
    margin-top: 10%;
}

@media(min-width: 720px){
.scritta_utente{
   font-size: 32px;
}
}
@media(min-width: 720px){
.scritta_utente2{
   font-size: 16px;
}
}
@media(min-width: 480px){
.scritta_utente{
   font-size: 24px;
}
}
@media(min-width: 720px){
.scritta_utente2{
   font-size: 10px;
}
}


.img_prof_piccola{
    width:50px;
    height: 50px;
}

.scritta_utente_form{
   font-size: 40px;
}

.form_spaziatura{
    padding: 5%;
}

.margine_form{
    margin-top: 30px;
}

.margine_articoli_piccoli{
    margin-top: 5%;
}

.font_sito_scritte_nere_articolo{
    color: black;
    font-family: 'Barlow Semi Condensed', serif;
}

.font_sito_scritte_nere_grandezza{
    font-size: 18px;
}

.testo_pad{
    padding: 5%
}

.img_pad{
    margin-top: 25%;
}

.scatola_immagine{
    width: 550px;
    height: 350px;
     box-shadow: 0px 0px 5px #888888;

}

scatola_immagine_principale{
    z-index: -1;
    position: absolute;
}

.scatola_immagine_sopra{
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;
}

.margine_articoli_immagine{
    margin-top: 5%;
}

.dimensioni_frecce{
    width: 30px;
    height: 30px;
}

nav{
    box-shadow: 0px 3px 4px #888888;
}

ombreggiatura_footer{
    box-shadow: 0px -10px 4px #888888;
}

div figure img{
  box-shadow: 0px 0px 5px #888888;
}

div.jumbotron{
     box-shadow: 0px 0px 3px #888888;
}

.carousel img{
    max-width: 550px;
    max-height: 350px;
}

nav div{
    display:inline;
    
}

nav img{
    margin: 10px;
}

nav.btn-success{
   margin: 100px;
}

nav span {
    margin: 20px;
}


.anteprima_img{
   max-width:300px;
    max-height:200px;
}
    
form label{
    color:#009900;

}

div.card-img-top{
    max-width:300px;
    max-height:100px;
}

div.card h4{
    color: black;
    font-family: 'Barlow Semi Condensed', serif;
}

div.card p{
    font-family: 'Roboto Slab', serif;
}

#utente_img{
    max-width: 100px;
    max-height: 100px;
}