/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-nov-2017, 14.02.20
    Author     : Davide Uni
*/

body{
    background-image: url('https://www.mantovasitiweb.it/images/slider2.jpg');
}

body.container{
    background-image: url('https://www.mantovasitiweb.it/images/slider2.jpg');
}

body.container-fluid{
    background-image: url('https://www.mantovasitiweb.it/images/slider2.jpg');
}

#bg-primary{
    background-color: #bfbfbf;
    margin-right: 5%;
    margin-left: 5%;
    
}

.img_rotonda{
   -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border-radius: 250px;
    
}

.contenitore_inserzione{
    background-color: #bfbfbf;
  
    height: 90%
}

#sfondo_verde{
    background-color: green;
    margin: 5%;
    align-content: center;
    
}

.testo{
    padding: 1%
}

.footer_margin{
    margin-top: 10px;
  background-position: bottom;
}

.background-full-site{
min-height: 500px;
 height: 100%;
 min-width: 80%
     

}

.background-full-site_articolo{
min-height: 800px;
 height: 100%;
 min-width: 90%
     
     

}



body{
    height: 100%;
}

#inline{
    display:inline;
}

.inline{

    display:inline;

}
.font_sito_bottoni{
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.font_sito_scritte{
    color: white;
    font-family: 'Roboto Slab', serif;
}

.font_sito_scritte_nere{
    color: black;
    font-family: 'Roboto Slab', serif;
}

@media(min-width: 1920px){
.cartellone{
    width:400px;
}
}

@media(max-width: 1920px){
.cartellone{
    width:400px;
}
}

@media(max-width: 1500px){
.cartellone{
    width:150px;
}
}


@media(max-width: 480px){
.cartellone{
    width:100px;
}
}

@media(min-width: 480px){
.cartellone_2{
    width:150px;
}
} 

.margine_articoli{
    margin-top: 10%;
}

@media(min-width: 720px){
.scritta_utente{
   font-size: 32px;
}
}
@media(min-width: 720px){
.scritta_utente2{
   font-size: 16px;
}
}
@media(min-width: 480px){
.scritta_utente{
   font-size: 24px;
}
}
@media(min-width: 720px){
.scritta_utente2{
   font-size: 10px;
}
}


.img_prof_piccola{
    width:50px;
    height: 50px;
}

.scritta_utente_form{
   font-size: 40px;
}

.form_spaziatura{
    padding: 5%;
}

.margine_form{
    margin-top: 30px;
}

.margine_articoli_piccoli{
    margin-top: 5%;
}

.font_sito_scritte_nere_articolo{
    color: black;
    font-family: 'Barlow Semi Condensed', serif;
}

.font_sito_scritte_nere_grandezza{
    font-size: 18px;
}

.testo_pad{
    padding: 5%
}

.img_pad{
    margin-top: 25%;
}
@media(min-width: 561px){
.scatola_immagine{
    width: 500px;
    height: 400px;
}

}

@media(max-width: 560px){
.scatola_immagine{
    width: 300px;
    height: 350px;
}

}





.margine_articoli_immagine{
    margin-top: 5%;
}

.dimensioni_frecce{
    width: 30px;
    height: 30px;
}

nav{
    box-shadow: 0px 3px 4px #888888;
}

ombreggiatura_footer{
    box-shadow: 0px -10px 4px #888888;
}

div figure img{
  box-shadow: 0px 0px 5px #888888;
}

div.jumbotron{
     box-shadow: 0px 0px 3px #888888;
}

.carousel img{
    max-width: 550px;
    max-height: 350px;
}

nav div{
    display:inline;
    
}

nav img{
    margin: 10px;
}

nav.btn-success{
   margin: 100px;
}

nav span {
    margin: 20px;
}


.anteprima_img{
   max-width:300px;
    max-height:200px;
}
    
form label{
    color:#009900;

}


div.card h4{
    color: black;
    font-family: 'Barlow Semi Condensed', serif;
}

div.card p{
    font-family: 'Roboto Slab', serif;
}

#utente_img{
    max-width: 100px;
    max-height: 100px;
}


.card-img-top{
  overflow: no-display;
    max-height: 400px;
}

.card{
   max-width: 400px;
   min-width: 200px;
}

.conta{
      max-width: 400px;
    max-height: 400px;
    overflow: no-display;
}

.card-text{
    overflow: hidden;
    max-height: 200px;
}

form.barra-ricerca input{
    display: inline;
}

form.barra-ricerca select{
    display: inline;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a{
    color:white;
}

form img{
    max-width: 200px;
    max-height: 100px;
    display:inline
}

div figure{
    max-width: 200px;
    max-height: 100px;
}

.circle-avatar{
    /* make it responsive */
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;
    width: 100%;
    /* make it a circle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.spiegazione{
    color: black;
    font-size: 120%;
}
.normal-link{
    color:blue;
}

.white-bg{
    background-color: white;    
    border-radius: 25px;
    padding: 20px; 
    margin-left:2em;
}
.filter-space{
    margin-right:4em;
}